.layout {
  margin: 24px;

  display: flex;
  flex-direction: column;

  gap: 8px;
}

.headline {
  font-size: 22px;
  color: var(--color-text-highlight);
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  gap: 8px;
}
