.journeys {
  margin-top: 6px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 8px;
  color: var(--color-text-highlight);
}

.buttonFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}
