.link {
  text-decoration: none;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 8px 16px;
  border-radius: 500px;
}

.activeLink {
  background: var(--colors-active-background);
  color: var(--colors-active-foreground);
  font-weight: 500;
}

.link:match {
  color: blue;
}
