:root {
  font-family: 'Cabin Variable', monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: white;
  color: #181818;

  --color-text-highlight: #673582;

  --colors-active-foreground: #7f13be;
  --colors-active-foreground-focus: #641293;

  --colors-active-background: #f3dfff;
  --colors-active-background-focus: #e5d1f0;

  --colors-border: #a9a9a9;
  --colors-border-active: #a587b5;
}

body {
  margin: 0;
}
