:root {
  font-family: 'Outfit Variable', monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colors-active-foreground: #a200ff;
  --colors-active-background: #f3dfff;
}

body {
  margin: 0;
}
