.station {
  padding: 8px 12px;

  overflow: hidden;
  background-clip: content-box;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  margin-top: 4px;
}

.active {
  background: var(--colors-active-foreground);
  color: var(--colors-active-background);
}
