.container {
  display: flex;
  justify-content: space-between;

  border: 1px solid var(--colors-border);
  padding: 12px;
  border-radius: 4px;

  background: var(--colors-active-background);
}

.inputContainer {
  flex-grow: 1;

  display: flex;
  align-items: center;
  transition: 200ms;
}

.container:focus-within {
  border: 1px solid var(--colors-border-active);
}

.container:focus-within .inputContainer {
  align-items: start;
  flex-direction: column;
}

.input {
  font: inherit;

  width: 100%;

  outline: none;
  border: none;
  box-sizing: border-box;

  color: inherit;
  background: inherit;

  padding: 0;
}

.label {
  font-weight: 400;
  font-size: 14px;
  margin-right: 4px;
}

.container:focus-within .label {
  color: var(--colors-active-foreground);
}
