.card {
  border-bottom: 1px solid var(--colors-active-foreground);

  padding: 12px 24px;

  user-select: none;
  cursor: pointer;
  transition: background 200ms ease;
}

.card:hover {
  background: var(--colors-active-background);
}

.header {
  display: flex;
  gap: 8px;
}

.times {
  font-weight: 600;
}

.duration {
  font-size: 14px;
}
