.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  padding: 8px;

  margin-top: 12px;
}

.header {
  display: flex;
  gap: 8px;
}

.times {
  font-weight: 600;
}

.duration {
  font-size: 14px;
}
