.layout {
  display: flex;
  flex-direction: column;

  gap: 8px;
  margin: 12px 24px;
}

.headline {
  font-size: 22px;
  color: var(--color-text-highlight);
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.datePicker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  align-items: start;
  gap: 8px;
}

.suggestions {
  gap: 12px;
}

.suggestions button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.modeButtons {
  display: flex;
}

.modeButtons button {
  flex-grow: 1;
  width: 100%;
}
